<article class="client">
  <div class="client-header wrapper">
    <h3>
      <a href="/client/{{id}}">
      {{first_name}} {{last_name}}
      </a>
    </h3>
    <p>
        <a href="/dashboard/edit/{{id}}" class="edit-link btn form-btn">Edit</a>
    </p>
  </div>

  <div class="client-details details-wrapper">
    <p>phone</p>
    <p class="details">
      <a href="tel:{{phone}}">{{phone}}</a>
    </p>

    <p>email</p>
    <p class="details">
      <a href="mailto:{{email}}">{{email}}</a>
    </p>

    <p>contact</p>
    <p class="details">{{contact_method}}</p>
  </div>
</article>